/* header/barra de navegación */
.navbar{
    background-color: rgb(247, 247, 166) !important;
    font-size: 18px !important;
    .img-logo{
      width: 100px;
      height: 100px;
      cursor: pointer;
      }
  }

  .navbar-nav{
    margin-left: 30% !important;
  }
  