/*Grids responsive nosotros*/
.contenedor-we {
    width: 90%;
    margin: 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4;
    grid-template-areas:  "contenido-nosotros contenido-nosotros contenido-nosotros sidebar"
                          "contenido-nosotros contenido-nosotros contenido-nosotros sidebar"
                          "we-1 we-1 we-1 sidebar"
                          "video-principal video-principal video-principal video-principal";
    .contenido-nosotros{
      grid-area: contenido-nosotros;
      text-align: justify;
    }
    .sidebar{
      grid-area: sidebar;
    }
    .we-1{
      grid-area: we-1;
    }
    .video-principal{
      grid-area: video-principal; /*video no aplica el responsive*/
      margin-left: 130px;
    } 
    .img-we-1{
      width: 500px;
      height: auto;
      padding-left: 50px;
    }
    .img-aside-we{
       width: auto;
        height: 500px;
      }                     
  }
  
  /*sistema responsive*/
  @media (max-width:768px) {
    .contenedor-we {
      grid-template-areas:  "we-1 we-1 we-1 we-1"
                          "contenido-nosotros contenido-nosotros contenido-nosotros contenido-nosotros"
                          "sidebar sidebar sidebar sidebar"
                          "video-principal video-principal video-principal video-principal";
  }
  }