/*Formateo de estilo*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    background-color: white;
    transition: all .3 ease;
    a{
      text-decoration: none;
      }
  }