/*Formateo de estilo*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    transition: all .3 ease;
    body{
      background-color: rgba(245, 244, 244, 0.849);
    }
    a{
      text-decoration: none;
      }
  }