/* Variables */

/* Imports */
@import "reseteo"; /*Formateo de estilo*/
@import "footer"; /*Footer*/
@import "header"; /*Header*/

/* selectores */
/* etiquetas */
/* .class */
/* #id */
/*variables ejemplo
$border-cajas: 2px solid red;
.clase{
  border: $border-cajas;
}
*/

/* colores de links */
a:link{
  color: green;
  }

footer a:link{
color: white;
}

a:visited{
color: green;  
}

a:hover {
color: rgb(8, 197, 8);
}

a:active{
color: orangered !important;
}
/* */

.icon{
orientation: inline-block;
width: 30px;
height: 30px;
}

.video-principal {
  margin-left: 130px;
}

/*Banner fallido*/
.ban{
 
}

div h1{
  color: green;
  font-size: 30px;
  text-shadow: 3px 5px 5px rgb(9, 206, 9);
  margin: 20px auto;
}

.slogan {
  position: absolute;
  margin-bottom: 50px;
  font-size: 2.4vw; /*Texto responsive*/
  width: 800px;
 }

#boton-menu{
  position: absolute;
  margin-top: 90px;
  background-color: green;
  color:white;
  font-size: 22px;
  width: 85px;
  height: 40px;
  border: 5px rgb(6, 151, 54) outset;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
  box-shadow: inset;

}

#boton-menu:hover{ /*para usar en imagenes trancition sobre*/
  box-shadow: 10px 10px rgba(0,0,0,.3);
}

/*sección 1 Index*/
.section-make {
  display: inline-flex;
  gap: 50px;
  margin-top: 60px;
  margin-bottom: 80px;
}

/*sección 2 Index*/
.section-menu {
  margin-top: 30px;
  gap: 50px;
.text-card{
    font-size: 3vw; /*Texto responsive*/
  }
}

/*FAQs*/
.container-faqs{
  margin-top: 30px;
}

/*Grids responsive nosotros*/
.contenedor-we {
  width: 90%;
  margin: 30px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 4;
  grid-template-areas:  "contenido-nosotros contenido-nosotros contenido-nosotros sidebar"
                        "contenido-nosotros contenido-nosotros contenido-nosotros sidebar"
                        "we-1 we-1 we-1 sidebar"
                        "video-principal video-principal video-principal video-principal";
  .contenido-nosotros{
    grid-area: contenido-nosotros;
  }
  .sidebar{
    grid-area: sidebar;
  }
  .we-1{
    grid-area: we-1;
  }
  .video-principal{
    grid-area: video-principal; /*video no aplica el responsive*/
  } 
  .img-we-1{
    width: 500px;
    height: auto;
    padding-left: 50px;
  }
  .img-aside-we{
     width: auto;
      height: 500px;
    }                     
}

/*sistema responsive*/
@media (max-width:768px) {
  .contenedor-we {
    grid-template-areas:  "we-1 we-1 we-1 we-1"
                        "contenido-nosotros contenido-nosotros contenido-nosotros contenido-nosotros"
                        "sidebar sidebar sidebar sidebar"
                        "video-principal video-principal video-principal video-principal";
}
}


  /*formulario contacto falta hacer responsive*/
  .contenido-contacto {
    width: 500px;
    margin-top: 50px;
    border: 1px solid grey;
    padding: 8px;
    border-radius: 7px;
    background-color: rgba(247, 123, 22, 0.877);
    .form-control {
      border: 1px solid grey;
    }
    .form-style{
      background-color:  rgba(247, 123, 22, 0.877);
      color: white;
    }
  }

  .video-contacto{
    margin-top: 50px;
    margin-left: 90px;
  }

/*Página menú*/
.section-menu{
  gap: 15px;
.card-menu{ 
  width: 200px !important; 
  height: auto !important;
}
.h2-menu{
  margin-top: 25px;
}.h2-veg{
  margin-top: 25px;
  margin-bottom: 20px;
}
.btn-success{
  margin-bottom: 0px !important; /*No se alinean los botones*/
}
}
















